/* SPDX-FileCopyrightText: © 2022 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define HASH #
#define HASH_EXPANSION(x) x
#define SPECIAL_RS_TAG(...) HASH_EXPANSION(HASH)[__VA_ARGS__]

#define RABBITIZER_DEF_INSTR_CATEGORY(name) name

SPECIAL_RS_TAG(repr(u32))
SPECIAL_RS_TAG(derive(Debug, Copy, Clone, Hash, PartialEq, Eq))
pub enum InstrCategory {
    #include "instructions/InstrCategory.inc"

    RABBITIZER_DEF_INSTR_CATEGORY(MAX),
}

#undef RABBITIZER_DEF_INSTR_CATEGORY
