/* SPDX-FileCopyrightText: © 2023-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RAB_DEF_OPCODE_CATEGORY(prefix, name) \
    prefix##_##name,

enum class IdType {
    #include "OpcodeCategory.inc"
};

#undef RAB_DEF_OPCODE_CATEGORY
