/* SPDX-FileCopyrightText: © 2023-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RABBITIZER_DEF_INSTR_ID_TYPE(prefix, name) \
    prefix##_##name,

enum class IdType {
    #include "InstrIdType.inc"
};

#undef RABBITIZER_DEF_INSTR_ID_TYPE
