/* SPDX-FileCopyrightText: © 2022-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RAB_DEF_OPERAND(prefix, operand) \
    prefix##_##operand,

enum class OperandType {
    RAB_DEF_OPERAND(ALL, INVALID)

#include "OperandTypes.inc"

    RAB_DEF_OPERAND(ALL, MAX)
};

#undef RAB_DEF_OPERAND
