/* SPDX-FileCopyrightText: © 2022-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RABBITIZER_DEF_REG(prefix, name, numeric, ...) \
    prefix##_##name,

#define RABBITIZER_DEF_REG_NODOLLAR(prefix, name, numeric, ...) \
    RABBITIZER_DEF_REG(prefix, name, numeric, __VA_ARGS__)

    namespace Cpu {
        enum class GprO32 {
            #include "registers/RabbitizerRegister_GprO32.inc"
        };

        enum class GprN32 {
            #include "registers/RabbitizerRegister_GprN32.inc"
        };


        enum class Cop0 {
            #include "registers/RabbitizerRegister_Cop0.inc"
        };

        // Float registers
        enum class Cop1O32 {
            #include "registers/RabbitizerRegister_Cop1O32.inc"
        };

        enum class Cop1N32 {
            #include "registers/RabbitizerRegister_Cop1N32.inc"
        };

        enum class Cop1N64 {
            #include "registers/RabbitizerRegister_Cop1N64.inc"
        };

        enum class Cop1Control {
            #include "registers/RabbitizerRegister_Cop1Control.inc"
        };

        enum class Cop2 {
            #include "registers/RabbitizerRegister_Cop2.inc"
        };
    };


    namespace Rsp {
        enum class Gpr {
            #include "registers/RabbitizerRegister_RspGpr.inc"
        };

        enum class Cop0 {
            #include "registers/RabbitizerRegister_RspCop0.inc"
        };

        enum class Cop2 {
            #include "registers/RabbitizerRegister_RspCop2.inc"
        };

        enum class Cop2Control {
            #include "registers/RabbitizerRegister_RspCop2Control.inc"
        };

        enum class Vector {
            #include "registers/RabbitizerRegister_RspVector.inc"
        };
    };

    namespace R4000Allegrex {
        enum class S {
            #include "registers/RabbitizerRegister_R4000AllegrexS.inc"
        };

        enum class V2D {
            #include "registers/RabbitizerRegister_R4000AllegrexV2D.inc"
        };

        enum class V3D {
            #include "registers/RabbitizerRegister_R4000AllegrexV3D.inc"
        };

        enum class V4D {
            #include "registers/RabbitizerRegister_R4000AllegrexV4D.inc"
        };

        enum class M2x2 {
            #include "registers/RabbitizerRegister_R4000AllegrexM2x2.inc"
        };

        enum class M3x3 {
            #include "registers/RabbitizerRegister_R4000AllegrexM3x3.inc"
        };

        enum class M4x4 {
            #include "registers/RabbitizerRegister_R4000AllegrexM4x4.inc"
        };

        enum class VfpuControl {
            #include "registers/RabbitizerRegister_R4000AllegrexVfpuControl.inc"
        };

        enum class VConstant {
            #include "registers/RabbitizerRegister_R4000AllegrexVConstant.inc"
        };
    };

    namespace R5900 {
        enum class VF {
            #include "registers/RabbitizerRegister_R5900VF.inc"
        };

        enum class VI {
            #include "registers/RabbitizerRegister_R5900VI.inc"
        };
    };

#undef RABBITIZER_DEF_REG
#undef RABBITIZER_DEF_REG_NODOLLAR
