/* SPDX-FileCopyrightText: © 2022-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RABBITIZER_DEF_ABI(name) RABBITIZER_ABI_##name,

typedef enum RabbitizerAbi {
    #include "Abi.inc"

    RABBITIZER_DEF_ABI(MAX)
} RabbitizerAbi;

#undef RABBITIZER_DEF_ABI
