/* SPDX-FileCopyrightText: © 2022-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RAB_DEF_ACCESSTYPE(name) RAB_ACCESSTYPE_##name,

typedef enum RabbitizerAccessType {
    #include "AccessType.inc"

    RAB_DEF_ACCESSTYPE(MAX)
} RabbitizerAccessType;

#undef RAB_DEF_ACCESSTYPE
