/* SPDX-FileCopyrightText: © 2022-2025 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RAB_DEF_ISA_EXTENSION(name) RABBITIZER_INSTRCAT_##name,

typedef enum RabbitizerInstrCategory {
    #include "IsaExtension.inc"

    RAB_DEF_ISA_EXTENSION(MAX)
} RabbitizerInstrCategory;

#undef RAB_DEF_ISA_EXTENSION
