/* SPDX-FileCopyrightText: © 2023-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RAB_DEF_OPCODE_CATEGORY(prefix, name) \
    RAB_INSTR_ID_TYPE_##prefix##_##name,

typedef enum RabInstrIdType {
    #include "OpcodeCategory.inc"
} RabInstrIdType;

#undef RAB_DEF_OPCODE_CATEGORY
