/* SPDX-FileCopyrightText: © 2022-2025 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RAB_DEF_OPCODE(prefix, caseBits, name, ...) [RABBITIZER_INSTR_ID_##prefix##_##name] = { __VA_ARGS__ },

#define RAB_DEF_OPCODE_ALTNAME(prefix, caseBits, name, altname, ...) RAB_DEF_OPCODE(prefix, caseBits, name, __VA_ARGS__)

const RabbitizerInstrDescriptor RabbitizerInstrDescriptor_Descriptors[] = {
    #include "Opcode.inc"
};

#undef RAB_DEF_OPCODE
#undef RAB_DEF_OPCODE_ALTNAME
