/* SPDX-FileCopyrightText: © 2023-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RABBITIZER_DEF_INSTR_ID_TYPE(prefix, name) \
    RAB_INSTR_ID_TYPE_##prefix##_##name,

typedef enum RabInstrIdType {
    #include "InstrIdType.inc"
} RabInstrIdType;

#undef RABBITIZER_DEF_INSTR_ID_TYPE
