/* SPDX-FileCopyrightText: © 2023-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RAB_DEF_OPCODE_CATEGORY(prefix, name) \
    [RAB_INSTR_ID_TYPE_##prefix##_##name] = #prefix "_" #name,

const char *RabInstrIdType_Names[] = {
    #include "OpcodeCategory.inc"
};

#undef RAB_DEF_OPCODE_CATEGORY
