/* SPDX-FileCopyrightText: © 2022-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RAB_DEF_ISA_EXTENSION(name) [RABBITIZER_INSTRCAT_##name] = #name,

const char *const RabbitizerInstrCategory_Names[] = {
#include "IsaExtension.inc"
};

#undef RAB_DEF_ISA_EXTENSION
