/* SPDX-FileCopyrightText: © 2022-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

#define RABBITIZER_DEF_REG(prefix, name, numeric, ...) \
    RABBITIZER_REG_##prefix##_##name,

#define RABBITIZER_DEF_REG_NODOLLAR(prefix, name, numeric, ...) \
    RABBITIZER_REG_##prefix##_##name,


typedef enum RabbitizerRegister_GprO32 {
    #include "registers/RabbitizerRegister_GprO32.inc"
} RabbitizerRegister_GprO32;

typedef enum RabbitizerRegister_GprN32 {
    #include "registers/RabbitizerRegister_GprN32.inc"
} RabbitizerRegister_GprN32;

typedef enum RabbitizerRegister_Cop0 {
    #include "registers/RabbitizerRegister_Cop0.inc"
} RabbitizerRegister_Cop0;

// Float registers
typedef enum RabbitizerRegister_Cop1O32 {
    #include "registers/RabbitizerRegister_Cop1O32.inc"
} RabbitizerRegister_Cop1O32;

typedef enum RabbitizerRegister_Cop1N32 {
    #include "registers/RabbitizerRegister_Cop1N32.inc"
} RabbitizerRegister_Cop1N32;

typedef enum RabbitizerRegister_Cop1N64 {
    #include "registers/RabbitizerRegister_Cop1N64.inc"
} RabbitizerRegister_Cop1N64;

typedef enum RabbitizerRegister_Cop1Control {
    #include "registers/RabbitizerRegister_Cop1Control.inc"
} RabbitizerRegister_Cop1Control;

typedef enum RabbitizerRegister_Cop2 {
    #include "registers/RabbitizerRegister_Cop2.inc"
} RabbitizerRegister_Cop2;


/* RSP */

typedef enum RabbitizerRegister_RspGpr {
    #include "registers/RabbitizerRegister_RspGpr.inc"
} RabbitizerRegister_RspGpr;

typedef enum RabbitizerRegister_RspCop0 {
    #include "registers/RabbitizerRegister_RspCop0.inc"
} RabbitizerRegister_RspCop0;

typedef enum RabbitizerRegister_RspCop2 {
    #include "registers/RabbitizerRegister_RspCop2.inc"
} RabbitizerRegister_RspCop2;

typedef enum RabbitizerRegister_RspCop2Control {
    #include "registers/RabbitizerRegister_RspCop2Control.inc"
} RabbitizerRegister_RspCop2Control;

typedef enum RabbitizerRegister_RspVector {
    #include "registers/RabbitizerRegister_RspVector.inc"
} RabbitizerRegister_RspVector;

/* RSP */

/* R4000ALLEGREX */

typedef enum RabbitizerRegister_R4000AllegrexS {
    #include "registers/RabbitizerRegister_R4000AllegrexS.inc"
} RabbitizerRegister_R4000AllegrexS;

typedef enum RabbitizerRegister_R4000AllegrexV2D {
    #include "registers/RabbitizerRegister_R4000AllegrexV2D.inc"
} RabbitizerRegister_R4000AllegrexV2D;

typedef enum RabbitizerRegister_R4000AllegrexV3D {
    #include "registers/RabbitizerRegister_R4000AllegrexV3D.inc"
} RabbitizerRegister_R4000AllegrexV3D;

typedef enum RabbitizerRegister_R4000AllegrexV4D {
    #include "registers/RabbitizerRegister_R4000AllegrexV4D.inc"
} RabbitizerRegister_R4000AllegrexV4D;

typedef enum RabbitizerRegister_R4000AllegrexM2x2 {
    #include "registers/RabbitizerRegister_R4000AllegrexM2x2.inc"
} RabbitizerRegister_R4000AllegrexM2x2;

typedef enum RabbitizerRegister_R4000AllegrexM3x3 {
    #include "registers/RabbitizerRegister_R4000AllegrexM3x3.inc"
} RabbitizerRegister_R4000AllegrexM3x3;

typedef enum RabbitizerRegister_R4000AllegrexM4x4 {
    #include "registers/RabbitizerRegister_R4000AllegrexM4x4.inc"
} RabbitizerRegister_R4000AllegrexM4x4;

typedef enum RabbitizerRegister_R4000AllegrexVfpuControl {
    #include "registers/RabbitizerRegister_R4000AllegrexVfpuControl.inc"
} RabbitizerRegister_R4000AllegrexVfpuControl;

typedef enum RabbitizerRegister_R4000AllegrexVConstant {
    #include "registers/RabbitizerRegister_R4000AllegrexVConstant.inc"
} RabbitizerRegister_R4000AllegrexVConstant;

/* R4000ALLEGREX */

/* R5900 */

typedef enum RabbitizerRegister_R5900VF {
    #include "registers/RabbitizerRegister_R5900VF.inc"
} RabbitizerRegister_R5900VF;

typedef enum RabbitizerRegister_R5900VI {
    #include "registers/RabbitizerRegister_R5900VI.inc"
} RabbitizerRegister_R5900VI;

/* R5900 */


#undef RABBITIZER_DEF_REG
#undef RABBITIZER_DEF_REG_NODOLLAR
