/* SPDX-FileCopyrightText: © 2023-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

from __future__ import annotations

from .Enum import Enum

#define RABBITIZER_DEF_INSTR_ID_TYPE(prefix, name) \
    prefix##_##name: Enum

class InstrIdType:
    #include "InstrIdType.inc"

#undef RABBITIZER_DEF_INSTR_ID_TYPE
