/* SPDX-FileCopyrightText: © 2023-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

from __future__ import annotations

from .Enum import Enum

#define RABBITIZER_DEF_INSTR_CATEGORY(name) name: Enum

class InstrCategory:
    #include "InstrCategory.inc"
    MAX: Enum

    @staticmethod
    def fromStr(name: str | None) -> Enum|None: ...

#undef RABBITIZER_DEF_INSTR_CATEGORY
