/* SPDX-FileCopyrightText: © 2023-2025 Decompollaborate */
/* SPDX-License-Identifier: MIT */

from __future__ import annotations

from .Enum import Enum

#define RAB_DEF_ISA_EXTENSION(name) name: Enum

class InstrCategory:
    #include "IsaExtension.inc"
    MAX: Enum

    @staticmethod
    def fromStr(name: str | None) -> Enum|None: ...

#undef RAB_DEF_ISA_EXTENSION
