/* SPDX-FileCopyrightText: © 2023-2024 Decompollaborate */
/* SPDX-License-Identifier: MIT */

from __future__ import annotations

from .Enum import Enum

#define RAB_DEF_OPCODE_CATEGORY(prefix, name) \
    prefix##_##name: Enum

class InstrIdType:
    #include "OpcodeCategory.inc"

#undef RAB_DEF_OPCODE_CATEGORY
