name: make

# Build on every branch push, tag push, and pull request change:
on: [push, pull_request]

jobs:
  build_repo:
    name: Build repo
    runs-on: ubuntu-latest

    steps:
    - name: Checkout reposistory
      uses: actions/checkout@v3

    - name: make
      run: make -j $(nproc) WERROR=1

    - name: Run build info checks
      run: ./tests/run_build_info_checks.sh

    - name: Run logic checks
      run: ./tests/run_logic_checks.sh

    - name: Run instruction checks
      run: ./tests/run_instruction_checks.sh
